{% load staticfiles %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <meta charset="UTF-8">
        <title>
            Favourite Books
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div>
            <h1 class= "text-center">BOOKS PREVIEW <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Clapping_Hands_Emoji_ios10_d7ab242e-7230-47bf-b1e2-d46a4bc51b5b_large.png?v=1513251032" style="width:3%"> <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Clapping_Hands_Emoji_ios10_d7ab242e-7230-47bf-b1e2-d46a4bc51b5b_large.png?v=1513251032" style="width:3%"> </h1>
        </div>
        <div>
            <h3 class = "text-center">Favorite: <span id="counter"> 0 </span></h2>
        </div>
        <div>
            <table class="table table-responve">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Published Date</th>
                        <th scope="col">Favorites</th>
                    </tr>
                </thead>
                <tbody id="konten">
                </tbody>
            </table>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/Books.js' %}"></script>
    </body>
</html>
